/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('https://fonts.google.com/specimen/Raleway') format();
    src: url('./../Polices/Raleway/Raleway-Italic-VariableFont_wght.ttf;');
    src: url('./../Polices/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

                                            /* Dimensions écrans desktop */
@media all and (min-width: 992px)
{
                                                        
body
{
    box-sizing: border-box;
    font-family: 'Raleway';
    width: 95%;
    margin: auto;
}

.top
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    vertical-align: middle;
}

.ancre .menu-list:hover
{
    box-shadow: 0px 2px 0px 0px #0065FC inset;
    -webkit-box-shadow: 0px 2px 0px 0px #0065FC inset;
    -moz-box-shadow: 0px 2px 0px 0px #0065FC inset;
}

.ancre .menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.ancre .menu li
{
    margin-left: 0px;
    display: inline-block;
    text-align:center;
}

.ancre .menu li a
{
    color:#0065fc;
    text-decoration: none;
    padding:2rem;
    display:block;
}

#logo
{
    display:block;
    width: 61px;
    height: 19px;
    margin-top: 2rem;
}

.page-title h1
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.page-title p
{
    font-size: 14px;
}

.page-title
{
    margin-bottom: 20px;
}

.searchform
{
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
    
.searchform button:hover
{
    cursor: pointer;
}

.searchbutton
{
    border-radius: 0px 10px 10px 0px;
}

.searchbutton-mob
{
    display: none;
    border-radius: 0px 15px 15px 0px;
}

.searchbar
{
    font-size: 18px;
    border-radius: 1px;
    border-color: #F2F2F2;
    border-style: solid;
    padding-bottom: 5px;
}

.searchbutton
{
    margin-left: -5px;
    color: #FFFF;
    background-color: #0065fc;
    border-color: #0065fc;
    height: 32px;
    border-style: none;
}

.fa-magnifying-glass
{
    display: none;
}

.locbutton
{
    border-radius: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 32px;
    width: 40px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-style: none;
}

.searchbar
{
    height:22px;
    margin-left: -5px;
    margin-top: 1px;
    display:inline-block;
}

.filters-container
{
    width: 100%;
    height: 40px;
    display: flex;
}

.filters-container h2
{
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.filters
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 40px;
}

.filters-container .filters .disabled-filter
{
    border-radius: 25px;
    border: solid;
    border-color: #f2f2f2;
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition-duration: 75ms;
    height: 100%;
    width: 100%;
}

/* Boutons filtres : transition en bleu clair au survol */
.filters .disabled-filter:hover
{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F2F2F2;
    transition: ease-in 0.3s;
    outline: none;
    background-color: #DEEBFF;
}

/* Taille des bouttons filtres */
.filters span
{
    margin-left: 10px;
    margin-right: 10px;;
}

.filters .fa
{
    margin-left: 10px;
}

.title-info
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

.filters-container .filters .disabled-filter i
{
    color: #0065FC;
}

.title-info .fa
{
    width: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #f2f2f2;
    background-color: #FFFF;
    color: #0065FC;
}

.title-info i
{
    font-size: 12px;
    padding-left: 6px;
}

.title-info p
{
    margin-left: 10px;
}

/* Partie Hébergement et Plus populaires */
section
{
    padding-top: 50px;
}

.mainsection
{
    display: flex;
    justify-content: space-between;
}

.section_offre
{
    border-radius: 20px;
    background: #F2F2F2;
    flex: 4;
    margin-right: 20px;
    column-gap: 2rem;
    row-gap: 2rem;
    border: 20px solid;
    border-color: #F2F2F2;
}

.section_pop
{
    height: 626px;
    border-radius: 20px;
    background: #F2F2F2;
    flex: 2;
}

.titre-section
{
    display: flex;
    justify-content: space-between;
    
}
.titre-section h2
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.section_offre .bottom_section /* --> Afficher Plus <-- */
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.bottom-afficher
{
    padding-top: 8%;
    padding-left: 2%;
    font-weight: bolder;
}

.afficher-plus
{
    color:black;
}

.afficher-plus:hover
{
    color:black;
    text-decoration: underline;
}

.hebergements-photos
{
    display: flex;
    background-color: #FFFF;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 7rem;
    max-width: 100%;
    width: 100%;
}

.text-container-heb
{
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 0 0 20px 20px;
}

.titre-container-heb
{
    line-height: 25px;
    margin-left: 2%;
}

.section_offre a
{
    text-decoration: none;
}

.section_offre h4
{
    font-weight: bold;
}

.card-marseille
{
    width: 28%;
    border: 5px solid #FFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px -1px;
    line-height: 1.15;
    background-color: #FFFF;
    margin: 1.5%;
}

.card-marseille:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.list-cards-hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card-marseille .link
{
    color: black;
}

.card-marseille .stars-marseille
{
    color:#0065FC;
    margin-left: 2%;
}

.section_pop h2
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.fa-chart-line
{
    color:#0065FC;
    margin-top: 10.5%;
    margin-right: 7%;
}

.list-cards-pop
{
    display: grid;
    flex-wrap: wrap;
    width: 90%;
    height:80%;
    justify-content: space-between;
    padding: 5%;
    flex:3;
}

.image-card-pop
{
    width: 100%;
    flex: 1;
}

.populaires-photos
{
    width: 100%;
    height: 150px;
    display: flex;
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    flex:1;
}

.text-container-pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    border: 5px solid #FFFF;
    border-radius: 20px;
    background-color: #FFFF;
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
    line-height: 25px;
    flex:2;
}

.card-pop
{
    box-shadow: 1px 1px 5px -1px;
    border-radius: 20px 20px 20px 20px;
    width:100%;
    margin-bottom: 5%;
}

.card-pop:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card-pop .stars-pop
{
    color:#0065FC;
}

.greystar
{
    color: #f2f2f2;
}

.card-pop .link
{
    color: black;
    background-color: #FFFF;
    border-radius: 20px;
    display: flex;
}

.section_pop a
{
    text-decoration: none;
}

.section_pop h4
{
    font-weight: bold;
}

/* Activités */
.activites
{
    font-family: 'Raleway';
    padding-bottom: 50px;
}

.titre-section-act
{
    margin-bottom: 1%;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.list-cards-activites
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.card-act
{
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;;
    box-shadow: 1px 1px 5px -1px;
    width: 100%;
}

.card-act .text-container-act
{
    margin-top: -2px;
    font-weight: bold;
    color:black;
    width: 100%;
}

.card-act .titre-container-act
{
    margin-top: 15px;
    margin-left: 15px;
}

.card-act .activites-photos
{
    width:100%;
    height: 86%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-act:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.activites a
{
    text-decoration: none;
}


/* Footer */
footer
{
    display:flex;
    background-color: #f2f2f2;
    justify-content: center;
}

footer section
{
    justify-content: center;
    flex: 1;
}

body footer ul
{
    list-style-type: none;
    padding-left: 100px;
}

body footer a
{
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body footer
{
    list-style-type: none;
    display: flex;
    padding-bottom: 5%;
}

body footer a:hover
{
    text-decoration: underline;
}

body footer a:visited
{
    color: inherit;
}

body footer li
{
    line-height: 2;
}

body footer h3
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
}


                                                        /* Dimensions écrans tablettes */                                                        
@media all and (min-width:768px) and (max-width:991px)
{
body
{
    box-sizing: border-box;
    font-family: 'Raleway';
    width: 95%;
    margin: auto;
}

.top
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    vertical-align: middle;
}

.ancre .menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.ancre .menu li
{
    margin-left: 0px;
    display: inline-block;
    text-align:center;
}

.ancre .menu li a
{
    color:#0065fc;
    text-decoration: none;
    padding:2rem;
    display:block;
}

#logo
{
    display:block;
    width: 61px;
    height: 19px;
    margin-top: 2rem;
}

.page-title h1
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.page-title p
{
    font-size: 14px;
}

.page-title
{
    margin-bottom: 20px;
}

.searchform
{
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
    
.searchform button:hover
{
    cursor: pointer;
}

.searchbutton
{
    border-radius: 0px 10px 10px 0px;
}

.searchbutton-mob
{
    display: none;
    border-radius: 0px 15px 15px 0px;
    
}

.searchbar
{
    font-size: 18px;
    border-radius: 1px;
    border-color: #F2F2F2;
    border-style: solid;
    padding-bottom: 5px;
}


.searchbutton
{
    margin-left: -5px;
    color: #FFFF;
    background-color: #0065fc;
    border-color: #0065fc;
    height: 32px;
    border-style: none;
}

.fa-magnifying-glass
{
    display: none;
}

.locbutton
{
    border-radius: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 32px;
    width: 40px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-style: none;
}

.searchbar
{
    height:22px;
    margin-left: -5px;
    margin-top: 1px;
    display:inline-block;
}

.filters-container
{
    width: 100%;
    height: 40px;
    display: flex;
}

.filters-container h2
{
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.filters
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
}

.filters-container .filters .disabled-filter
{
    border-radius: 25px;
    border: solid;
    border-color: #f2f2f2;
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition-duration: 75ms;
    height: 100%;
}

/* Boutons filtres : transition en bleu clair au survol */
.filters .disabled-filter:hover
{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F2F2F2;
    transition: ease-in 0.3s;
    outline: none;
    background-color: #DEEBFF;
}

/* Taille des bouttons filtres */
.filters span
{
    margin-left: 10px;
    margin-right: 10px;;
}

.filters .fa
{
    margin-left: 10px;
}

.title-info
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

.filters-container .filters .disabled-filter i
{
    color: #0065FC;
}

.title-info .fa
{
    width: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #f2f2f2;
    background-color: #FFFF;
    color: #0065FC;
}

.title-info i
{
    font-size: 12px;
    padding-left: 6px;
}

.title-info p
{
    margin-left: 10px;
}

/* Partie Hébergement et Plus populaires */
section
{
    padding-top: 50px;
}

.mainsection
{
    display: flex;
    flex-direction: column;
}

.section_offre
{
    border-radius: 20px;
    background: #F2F2F2;
    margin-bottom: 20px;
    column-gap: 2rem;
    row-gap: 2rem;
    border: 20px solid;
    border-color: #F2F2F2;
}

.section_pop
{
    border-radius: 20px;
    background: #F2F2F2;
}

.titre-section
{
    display: flex;
    justify-content: space-between;
    
}
.titre-section h2
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.section_offre .bottom_section /* --> Afficher Plus <-- */
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.bottom-afficher
{
    padding-top: 8%;
    padding-left: 2%;
    font-weight: bolder;
}

.afficher-plus
{
    color:black;
}

.afficher-plus:hover
{
    color:black;
    text-decoration: underline;
}

.hebergements-photos
{
    display: flex;
    background-color: #FFFF;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 7rem;
    max-width: 100%;
    width: 100%;
}

.text-container-heb
{
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 0 0 20px 20px;
}

.titre-container-heb
{
    line-height: 25px;
    margin-left: 2%;
}

.section_offre a
{
    text-decoration: none;
}

.section_offre h4
{
    font-weight: bold;
}

.card-marseille
{
    width: 28%;
    height: 18%;
    border: 5px solid #FFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px -1px;
    line-height: 1.15;
    background-color: #FFFF;
    margin: 1.5%;
}

.card-marseille:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.list-cards-hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card-marseille .link
{
    color: black;
}

.card-marseille .stars-marseille
{
    color:#0065FC;
    margin-left: 2%;
}

.section_pop h2
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.fa-chart-line
{
    color:#0065FC;
    margin-top: 3.5%;
    margin-right: 7%;
}

.list-cards-pop
{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin:auto;
}

.populaires-photos
{
    width: 100%;
    height: 150px;
    display: flex;
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    flex:1;
}

.text-container-pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    border: 5px solid #FFFF;
    border-radius: 20px;
    background-color: #FFFF;
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
    line-height: 25px;
    flex:2;
}

.image-card-pop
{
    width: 100%;
    flex: 1;
}

.card-pop
{
    box-shadow: 1px 1px 5px -1px;
    border-radius: 20px 20px 20px 20px;
    width:100%;
    margin: 1%;
}

.card-pop:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card-pop .stars-pop
{
    color:#0065FC;
}

.greystar
{
    color: #f2f2f2;
}

.card-pop .link
{
    color: black;
    background-color: #FFFF;
    border-radius: 20px;
    display: flex;
}

.section_pop a
{
    text-decoration: none;
}

.section_pop h4
{
    font-weight: bold;
}

/* Activités */
.activites
{
    font-family: 'Raleway';
    padding-bottom: 50px;
}

.titre-section-act
{
    margin-bottom: 1%;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    gap: 15px;
}

.list-cards-activites
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    vertical-align: middle;
}

.card-act
{
    display: inline-block;
    align-content: center;
    border-radius: 20px 20px 20px 20px;;
    box-shadow: 1px 1px 5px -1px
}

.card-act .text-container-act
{
    height: 3rem;
    width: 9rem;
    margin-top: -2px;
    font-weight: bold;
    color:black;
}

.card-act .titre-container-act
{
    margin-top: 15px;
    margin-left: 15px;
}

.card-act .activites-photos
{
    width:12rem;
    height: 15rem;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-act:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.activites a
{
    text-decoration: none;
}


/* Footer */
footer
{
    display:flex;
    background-color: #f2f2f2;
    justify-content: center;
}

footer section
{
    justify-content: center;
    flex: 1;
}

body footer ul
{
    list-style-type: none;
    padding-left: 100px;
}

body footer a
{
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body footer
{
    list-style-type: none;
    display: flex;
    padding-bottom: 5%;
}

body footer a:hover
{
    text-decoration: underline;
}

body footer a:visited
{
    color: inherit;
}

body footer li
{
    line-height: 2;
}

body footer h3
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
}

                                                        /* Dimensions écrans mobiles */
@media all and (min-device-width: 240px) and (max-width:767px)

{
body
{
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: auto;
}

.top
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.ancre
{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ancre .menu-list
{
    box-shadow: 0px -2px 0px 0px #F2F2F2 inset;
    -webkit-box-shadow: 0px -2px 0px 0px #F2F2F2 inset;
    -moz-box-shadow: 0px -2px 0px 0px #F2F2F2 inset;
    width: 50%;
}

.ancre .menu-list.active
{
    box-shadow: 0px -2px 0px 0px #0065fc inset;
    -webkit-box-shadow: 0px -2px 0px 0px #0065fc inset;
    -moz-box-shadow: 0px -2px 0px 0px #0065fc inset;
}

.ancre .menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.ancre .menu li
{
    margin-left: 0px;
    display: inline-block;
    text-align: center;
}

.ancre .menu .menu-list a
{
    color:#0065FC;
    text-decoration: none;
    padding:2rem;
    display:block;
}

#logo
{
    display: block;
    width: 60px;
    margin-top: 25px;
}

.page-title h1
{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1rem;
    width: 69%;
}

.page-title p
{
    font-size: 14px;
    width: 100%
}

.page-title
{
    margin-bottom: 20px;
    margin-left: 5%;
}

.searchform
{
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 5%;
}
    
.searchform button:hover
{
    cursor: pointer;
}

.searchbutton
{
    border-radius: 0px 10px 10px 0px;
    width: 40px;
}

.rechercher
{
    display: none;
}

.searchbutton-mob
{
    display: none;
    border-radius: 0px 15px 15px 0px;
}

.searchbar
{
    font-size: 18px;
    border-radius: 1px;
    border-color: #F2F2F2;
    border-style: solid;
    padding-bottom: 5px;
}

.searchbutton
{
    margin-left: -5px;
    color: #FFFF;
    background-color: #0065fc;
    border-color: #0065fc;
    height: 32px;
    border-style: none;
}

.locbutton
{
    border-radius: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 32px;
    width: 40px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-style: none;
}

.searchbar
{
    height:22px;
    margin-left: -5px;
    margin-top: 1px;
    display:inline-block;
}

.filters-container
{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.filters-container h2
{
    font-size: 18px;
    font-weight: bold;
}

.filters
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filters-container .filters .disabled-filter
{
    border-radius: 25px;
    border: solid;
    border-color: #f2f2f2;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition-duration: 75ms;
    height: 100%;
    width: 100%
}

/* Boutons filtres : transition en bleu clair au survol */
.filters .disabled-filter:hover
{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F2F2F2;
    transition: ease-in 0.3s;
    outline: none;
    background-color: #DEEBFF;
}

/* Taille des bouttons filtres */
.filters span
{
    margin-left: 10px;
    margin-right: 10px;;
}

.filters .fa
{
    margin-left: 10px;
}

.bouton
{
    height: 2.5rem;
    width: 48%;
    margin-top: 2%;
    margin-right: 2%;
}

.title-info
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    margin-left: 5%;
}

.filters-container .filters .disabled-filter i
{
    color: #0065FC;
}

.title-info .fa
{
    width: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #f2f2f2;
    background-color: #FFFF;
    color: #0065FC;
}

.title-info i
{
    font-size: 12px;
    padding-left: 6px;
}

.title-info p
{
    margin-left: 10px;
    width: 81%;
}

/* Partie Hébergement et Plus populaires */
section
{
    padding-top: 50px;
}

.mainsection
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.section_offre
{

}

.section_pop
{
    height: 100%;
    background: #F2F2F2;
}

.titre-section
{
    display: flex;
    justify-content: space-between;
    
}
.titre-section h2
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.section_offre .bottom_section /* --> Afficher Plus <-- */
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.bottom-afficher
{
    padding-top: 8%;
    padding-left: 2%;
    font-weight: bolder;
}

.afficher-plus
{
    display: none;
    color:black;
}

.afficher-plus:hover
{
    color:black;
    text-decoration: underline;
}

.hebergements-photos
{
    display: flex;
    background-color: #FFFF;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 7rem;
    max-width: 100%;
    width: 100%;
}

.text-container-heb
{
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 0 0 20px 20px;
}

.titre-container-heb
{
    line-height: 25px;
    margin-left: 2%;
}

.section_offre a
{
    text-decoration: none;
}

.section_offre h4
{
    font-weight: bold;
}

.card-marseille
{
    width: 100%;
    border: 5px solid #FFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px -1px;
    line-height: 1.15;
    background-color: #FFFF;
    margin: 1.5%;
}

.card-marseille:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.list-cards-hebergements
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-marseille .link
{
    color: black;
}

.card-marseille .stars-marseille
{
    color:#0065FC;
    margin-left: 2%;
}

.section_pop h2
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.fa-chart-line
{
    color:#0065FC;
    margin-top: 5%;
    margin-right: 7%;
}

.list-cards-pop
{
    display: grid;
    width: 90%;
    height:80%;
    justify-content: space-between;
    padding: 5%;
}

.populaires-photos
{
    width: 100%;
    display: flex;
    border: 5px solid #FFFF;
    background-color: #FFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    flex:1;
}

.text-container-pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    border: 5px solid #FFFF;
    border-radius: 20px;
    background-color: #FFFF;
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
    line-height: 25px;
    flex:2;
}

.card-pop
{
    box-shadow: 1px 1px 5px -1px;
    border-radius: 20px 20px 20px 20px;
    width:100%;
    margin-bottom: 5%;
}

.card-pop:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card-pop .stars-pop
{
    color:#0065FC;
}

.greystar
{
    color: #f2f2f2;
}

.card-pop .link
{
    color: black;
    background-color: #FFFF;
    border-radius: 20px;
    display: flex;
}

.section_pop a
{
    text-decoration: none;
}

.section_pop h4
{
    font-weight: bold;
}

/* Activités */
.activites
{
    font-family: 'Raleway';
    padding-bottom: 50px;
}

.titre-section-act
{
    margin-bottom: 1%;
    width: 20%;
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    gap: 15px;
}

.list-cards-activites
{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
    vertical-align: middle;
}

.card-act
{
    display: inline-block;
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px -1px;
    margin-bottom: 10%;
}

.card-act .text-container-act
{
    margin-top: -2px;
    font-weight: bold;
    color:black;
}

.card-act .titre-container-act
{
    margin: 15px;
}

.card-act .activites-photos
{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.card-act:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.activites a
{
    text-decoration: none;
}


/* Footer */
footer
{
    background-color: #f2f2f2;
    padding-bottom: 5%;
}

footer section
{
    justify-content: center;
    flex: 1;
}

body footer ul
{
    list-style-type: none;
    padding-left: 100px;
}

body footer a
{
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body footer a:hover
{
    text-decoration: underline;
}

body footer a:visited
{
    color: inherit;
}

body footer li
{
    line-height: 2;
}

body footer h3
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
}