

/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('https://fonts.google.com/specimen/Raleway');
    src: url('Polices/Raleway/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    box-sizing: border-box;
    font-family: 'Raleway';
    width: 95%;
    margin: auto;
    padding-top: 15px;
}

.top
{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    vertical-align: middle;
}

.ancre a:hover
{
    color: #000065fc;
    border-top: 2px solid #0065fc;
    margin-top:20px;
}

.ancre .menu
{
    list-style-type: none;
    display: flex;
}

.ancre .menu li
{
    padding-left: 20px;

}

.ancre .menu li a
{
    color:#0065fc;
    text-decoration: none;
}

#logo
{
    width: 61px;
    height: 19px;
    left: 0px;
    top: 0px;
}

.page-title h1
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.page-title p
{
    font-size: 14px;
}

.page-title
{
    margin-bottom: 20px;
}

.searchform
{
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
  
.searchform button:hover
{
    cursor: pointer;
}

.searchbutton
{
    border-radius: 0px 10px 10px 0px;
}

.searchbutton-mob
{
    display: none;
    border-radius: 0px 15px 15px 0px;
    
}

.searchbar
{
    font-size: 18px;
    border-radius: 1px;
    border-color: #F2F2F2;
    border-style: solid 2px inset;
    padding-bottom: 5px;
}


.searchbutton
{
    margin-left: -5px;
    color: #FFFF;
    background-color: #0065fc;
    border-color: #0065fc;
    height: 32px;
    border-style: none;
}

.locbutton
{
    border-radius: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 32px;
    width: 40px;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-style: none;
}

.searchbar
{
    height:22px;
    margin-left: -5px;
    margin-top: 1px;
    display:inline-block;
}

.filters-container
{
    width: 914px;
    height: 40px;
    display: flex;
}

.filters-container h2
{
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.filters
{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-left: 40px;
}

.filters-container .filters .disabled-filter
{
    border-radius: 25px;
    border: solid;
    border-color: #f2f2f2;
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition-duration: 75ms;
}

/* Boutons filtres : transition en bleu clair au survol */
.filters .disabled-filter:hover
{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F2F2F2;
    transition: ease-in 0.3s;
    outline: none;
    background-color: #DEEBFF;
}



/* Taille des bouttons filtres */
.filters span
{
    margin-left: 10px;
    margin-right: 10px;;
}

.filters .fa
{
    margin-left: 10px;
}

.title-info
{
    margin-top: 25px;
    display: flex;
}

.filters-container .filters .disabled-filter i
{
    color: #0065FC;
}

.title-info .fa
{
    width: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #f2f2f2;
    background-color: #FFFF;
    color: #0065FC;
}

.title-info i
{
    font-size: 12px;
    padding-left: 6px;
}

.title-info p
{
    margin-left: 10px;
}


/* Partie Hébergement et Plus populaires */
section
{
    padding-top: 50px;
}

.section_offre, .section_pop
{
    display:inline-block;
}

.card
{
    display: inline-block;
    align-content: center;
    width: 230px;
    height: 230px;
    padding-right: 60.5px;
    padding-bottom: 40px;
}

.section_offre
{
    width: 65%;
    height: 680px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background: #F2F2F2;
    font-family: 'Raleway';
}

.titre-section h2
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.section_offre .bottom_section /* --> Afficher Plus <-- */
{
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.afficher-plus
{
    color:black;
}

.hébergements-photos
{
    height: 50%;
    display: flex;
    border: 10px solid #FFFF;
    background-color: #FFFF;
    width: 97.78%;
    border-radius: 20px 20px 0px 0px;
}

.text-container
{
    display: flex;
    flex-direction: column;
    border: 10px solid #FFFF;
    border-radius: 20px;
    background-color: #FFFF;
    width: 97.78%;
    border-radius: 0 0 20px 20px;
}

.titre-container
{
    line-height: 25px;
}

.section_offre a
{
    text-decoration: none;
}

.section_offre h4
{
    font-weight: bold;
}

.card
{
    box-shadow: 1px 1px 5px -1px;
}

.card .link
{
    color: black;
}

.card .stars
{
    color:#0065FC;
}

.section_pop
{
    position:absolute;
    margin-left:2%;
    width: 25%;
    height: 626px;
    padding-left: 20px;
    border-radius: 20px;
    background: #F2F2F2;
}

.section_pop h2
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 25px;
}


.populaires-photos .text-container2
{
    margin-bottom: 20px;
    vertical-align: middle;
}

.populaires-photos
{
    height: 90px;
    width: 100px;
    display: flex;
    border: 10px solid #FFFF;
    background-color: #FFFF;
    border-radius: 20px 0px 0px 20px;
}

.text-container2
{
    display: flex;
    flex-direction: column;
    border: 10px solid #FFFF;
    border-radius: 20px;
    background-color: #FFFF;
    width: 150px;
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
}

.card2
{
    box-shadow: 1px 1px 5px -1px;
}
.card2 .stars
{
    color:#0065FC;
}

.card2 .link
{
    color: black;
}

.section_pop a
{
    text-decoration: none;
}

.section_pop h4
{
    font-weight: bold;
}


/* Activités */
.activites
{
    font-family: 'Raleway';
    padding-bottom: 30px;
}

.cards3
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    vertical-align: middle;
}

.card3
{
    display: inline-block;
    align-content: center;
    border-radius: 20px 20px 20px 20px;;
    box-shadow: 1px 1px 5px -1px
}



.card3 .text-container
{
    width:90%;
    margin-top: -2px;
    font-weight: bold;
    color:black;
}

.card3 .activites-photos
{
    width:250px;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.activites a
{
    text-decoration: none;
}


/* Footer */
footer
{
    background-color: #f2f2f2;
}

footer section
{
    justify-content: center;
    flex: 1;
}

body main footer ul
{
    list-style-type: none;
    padding-left: 100px;
}

body main footer a
{
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body main footer
{
    list-style-type: none;
    display: flex;
}

body main footer a:hover
{
    text-decoration: underline;
}

body main footer a:visited
{
    color: inherit;
}

body main footer li
{
    line-height: 2;
}

body main footer h3
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
