/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway';
    src: url('https://fonts.google.com/specimen/Raleway');
    src: url('Polices/Raleway/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


.bloc_page
{
    width: 60%;
    margin: auto;
    border-radius: 0px;
    border-top: 44px;
}

body
{
    margin: auto;
    border: solid;
    border-color: #000000;
    max-width: 1440px;
}


                                                        /* Header */
header
{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
}
                                                        /* Body */

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    color: #000000;
    background-color : #ffffff
}

#top
{
    margin-top: 0;
}

#top div
{
    margin-bottom: 20px;
}

#top p
{
    font-size: 16px;
}


                                                        /* Hébergement Activités */
nav ul
{
    list-style-type: none;
    display: flex;
    text-align: justify;
    margin-right: 20px;

}

nav li
{
    margin-right: 15px;
    margin-left: 110px;
}

.ancre
{
    position: absolute;
    left: 90%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.ancre a:hover
{
    color: #000065fc;
    border-top: 2px solid #0065fc;
}

body
{
    background: #ffffff;
    font-family: 'Raleway';
    color: #181818;
}

header a
{
    position: absolute;
    width: 61.09px;
    height: 19px;
}

.page-title h1
{
    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
}

.page-title p
{
    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
}



h1
{
    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.Trouvez
{
    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
}

.En_plein_centre_ville
{
    position: absolute;
    width: 296px;
    height: 19px;
    left: 55px;
    top: 160px;
}

.Plus_de_500_logements
{
    position: absolute;
    width: 447px;
    height: 24px;
    left: 59px;
    top: 365px;
}

.formulaire
{
    position: absolute;
    width: 332px;
    height: 49px;
    left: 55px;
    top: 199px;
}

.barredefiltres
{
    position: absolute;
    width: 914px;
    height: 50px;
    left: 62px;
    top: 280px;
}

                                                        /* Section offre */

#section_offre
{
    position: absolute;
    width: 880px;
    height: 626px;
    padding: 20px;
    border-radius: 20px;
    background: #F2F2F2;
}


.titre_hébergements
{
    position: absolute;
    width: 278px;
    height: 26px;
    left: 50px;
    top: 42px;
    font-weight: 700;
    font-size: 22px;
    line-height:25,83px;
}

.titre-populaires
{
    position: absolute;
    width: 205px;
    height: 26px;
    left: 1007px;
    top: 468px;
}

.section_pop
{
    height: 775px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 420px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
}

#pop-list
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
#pop-list a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.populaires-photos
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
}


#bloc_offres
{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 626px;
    left: 50px;
    top: 426px;
}

.hebergement_a_marseille
{
    display: flex;
    justify-content: space-between;

}

.pop-list
{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#section_activites
{
    position: absolute;
    width: 1337px;
    height: 493px;
    left: 50px;
    top: 1112px;
}

.activites-list
{
    display: flex;
    justify-content: space-between;
}


                                                        /* Footer de la page */
body main footer
{
    position: absolute;
    width: 1440px;
    height: 191px;
    left: 0px;
    top: 1666px;
    background-color: #f2f2f2;
}

body main footer section
{
    justify-content: center;
    flex: 1;
}

body main footer ul
{
    list-style-type: none;
}

body main footer a
{
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body main footer
{
    list-style-type: none;
    display: flex;
}

body main footer a:hover
{
    text-decoration: underline;
}

body main footer a:visited
{
    color: inherit;
}

body main footer li
{
    line-height: 2;
}


                                                        /* Dimensions écrans desktop */

@media all and (min-width: 992px) and (max-width:1400px)
{

}

                                                        /* Dimensions écrans tablettes */                                                        

@media all and (min-width:768px) and (max-width:991px)
{
    
}

                                                        /* Dimensions écrans mobile */

@media all and (max-device-width:768px)
{

}

